<h1 align="center"> All Recipes </h1>

    <div align="center">
        <%= render 'search', obj: @recipes %><br><br>
    </div>

    <div align="center">
        <%= render 'recipe', obj: @recipes %>
    </div>
