<h1>Show all the Users!</h1>
<div align="center">
<%= will_paginate %>
<% @users.each do |user| %>
    <ul class="listing">
        <div class="row">
            <div class="col-md-4">
            <li class="user-title"><%= link_to user.username.capitalize, user_path(user) %></li>
            <li><%= pluralize(user.recipes.count, "recipe") if user.recipes %>
            </div>
        </div>
    </ul>
<% end %>
<%= will_paginate %>
</div>