<div class="home_background">
  <div class="jumbotron center">
    <h1 align="left">FoodStories</h1>
    <h2>Create memories. Collect Recipes.</h2>
    <p><%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg btn-xlarge" %></p>
  </div>
</div>
