<div class="home_background">
  <div class="jumbotron center">
    <h1 align="left">FoodStories</h1>
    <h2>Create memories. Collect Recipes.</h2>
    <p><%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg btn-xlarge" %></p>
  </div>
</div>
<div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/assets/dish-01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Inspired by my favorite local Italian restaurant's secret recipe. After some trial and error, I think I have it. Creamy Alfredo sauce and salmon complement each other well. Spinach adds great color.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/assets/dish-02.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Quick and easy blueberry smoothie topped with coconut, almonds, and banana. Smoothie bowls are popular breakfast items due to their nutritional benefits. Add different toppings and chia seeds to pack in flavor.  </p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/assets/dish-03.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">A beautiful red Bundt cake to grace your Holiday table. Frost with cream cheese frosting and sprinkle with nuts if desired. The red velevet cake is moist and the frosting is light in texture. This cake can be made for special occasions or just for you. </p>
              <div class="d-flex justify-content-between align-items-center">  
              </div>
            </div>
          </div>
        </div>
