@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}
.navbar {
  background-color: #285f54; 
}
.nav-item {
  color: #1abc9c;
}
.navbar-light .navbar-nav .nav-link {
  color: #1abc9c;
}
.nav-link {
  color: #1abc9c;
}

.dropdown-item {
  color: #1abc9c;
}

.recipe-border {
  border: solid 2px #1abc9c;
  margin-bottom: 15px;
}

.user-border {
  border: solid 2px #1abc9c;
  margin-bottom: 15px;
}
.login-button {
  align-items: center;
}

.ingredients-border {
  border: solid 2px #1abc9c;
  margin-bottom: 15px;
}

.jumbotron {
  background-image: asset-url('cover_image.jpg');
  background-size: cover;
  height: 300px;
  align-items: left;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
  
#logo:hover {
  color: #fff;
  text-decoration: none;
}  

.jumbotron h1 {
  color: rgb(255, 255, 255);
  text-align: left;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: Arvo;
}

.jumbotron h2 {
  color: #bbeea1;
  text-align: left;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: Arvo;
}

.btn-xlarge {
  background-color: #1abc9c;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}

body {
  height: 100%;
  background-color:#f3f3f3;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #285f54;
  padding-left: 10px;
  padding-right: 10px;
}


footer a {
  color: #285f54;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.description {
  margin-top: 0;
}

.well a {
  color: #073B15;
}

.user_info {
  margin-top: 10px;
}

.colormatch a {
  color: #073B15;
}

.recipe-actions {
  padding-top: 5px;
  a {
    color: #fff;
  }
}

.listing {
  list-style: none;
  padding-left: 0;
}

.user-title {
  color: #073B15;
  font-weight: bold;
  font-size: 1.25em;
}

.input_checkbox input {
  width: auto !important;
}

.center-block {
  float: none;
}

.small-image {
  max-width: 25px;
  height: auto;
}